alembic==1.7.3
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
coverage==5.5
dataclasses==0.8
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
pluggy==1.0.0
psycopg2==2.7.7
psycopg2-binary==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
requests==2.26.0
SQLAlchemy==1.4.23
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
zipp==3.5.0
